
.App {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(211, 210, 206);
}

.banner {
  width: 10%;
  height: 5%;
  background-color: rgb(20, 20, 20);
} 


.property-info {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;

}

.tile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(105, 160, 170);  margin: 10px;
}

.image {
  padding-left: 40px;
  padding-bottom: 20px;
  width: 400px;
  height: 250px;
}

.button {
  margin-top: 10px;
}

